body {
	font-family: Microsoft Yahei;
}
.container {
	padding-top: 20px;
	width: 1200px;
}
.vpic{
	width: 100%;
	height: 200px;
	border: 1px solid #aaa;
	overflow: hidden;
}
.vpic_head {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #aaa;
}
.vpic_title {
	display: block;
	float: left;
	line-height: 30px;
	margin-left: 20px;
}
.v_circle {
	float: left;
	margin-left: 20px;
}
.v_circle span {
	display: block;
	float: left;
	width: 15px;
	height: 15px;
	margin-top: 6px;
	border-radius: 50%;
	background: #aaaaaa;;
	margin-right: 5px;
	cursor: pointer;

}
.v_circle .v_cursor {
	background: #cc4211;
	cursor: default;
}
.change_btn {
	float: left;
	line-height: 30px;
	margin-left: 20px;
}
.btn_cursor {
	color: #cc4211;
	cursor: pointer;
}
.v_more {
	display: block;
	float: right;
	margin-right: 20px;
	line-height: 30px;
}
.vpic_content {
	width: 100%;
	height: 170px;
	position: relative;
}
.vpic_content ul {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 170px;
}
.vpic_content ul li {
	list-style: none;
	float: left;
	width: 292px;
	height: 170px;
	padding: 20px;
}
.vpic_content ul li:nth-child(2n) {
	background: #cc4211;
}
.vpic_content ul li:Nth-child(2n+1) {
	background: #aaa;
}