<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/jquery.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/main.js"></script>
	<style>
		.done {
			color: red;
		}
		.on {
			text-decoration: line-through;
		}
	</style>
</head>
<body>
	<div id="box">
		<h3 id="cat-{{cat}}">{{message}}</h3>
		<p v-repeat="todo in todos" class="item-{{todo.id}}">{{todo.text}}</p>
		<hr />
		<template v-repeat="li in list">
			<a class="dt-{{li.id}}" v-on="click:clickEvent(li.id,$event)" href="{{li.href}}">{{li.title}}</a>
			<hr />
		</template>
	</div>
	<div id="demo">
		<form id="form">
			<input type="text" v-model="msg" lazy />{{msg}}
			<hr />
			<input type="checkbox" v-model="checked" />{{checked?'yes':'no'}}
			<hr />
			<select name="" id="" v-model="selected">
				<option>one</option>
				<option>two</option>
			</select>
			{{selected}}
			<hr />
			<select name="" id="" v-model="multiSelect" multiple>
				<option>one</option>
				<option>two</option>
				<option>three</option>
			</select>
			{{multiSelect}}
		</form>
	</div>
	<hr />
	<div id="compupter">
		<p v-on="click: reBack">{{fullName}}</p>
	</div>
	<div id="mydefine">
		<p v-mydefine="msg"></p>
	</div>
	<hr />
	<div id="t0920">
		<p v-repeat="list" v-text="content" v-on="click:reload(id)"></p>
	</div>
	<hr />
	<div id="template0920">
		<button id="btn" v-on="click:loadMore">btn</button>
		<template v-repeat="li in list">
			<h1 v-text="li.title"></h1>
			<p v-text="li.content"></p>
		</template>
	</div>
	<hr />
	<div id="demo0921">
		<input type="checkbox" v-model="checked" />
		{{checked?'yes':'no'}}
		<hr />
		<ul>
			<li v-repeat="item in items" class="{{item.done?'on':''}}" v-on="click:item.done=!item.done">{{item.tit}}</li>
		</ul>
		<hr />
		<input v-model="msg" number>{{msg}}
		<hr />
		<p>
			<input type="radio" name="picked" v-model="picked" value="1" />
			<input type="radio" name="picked" v-model="picked" value="2" />
			{{picked}}
		</p>
	</div>
	<hr />
	<div id="subString">
		<p>{{msg | subString '5'}}</p>
	</div>
</body>
</html>