//scss document
//css reset
@charset "UTF-8";
html {
  color: #303A43;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}
body, button, input, select, textarea {
  font: 400 14px/1.8 Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}
button::-moz-focus-inner, input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
ul, ol {
  list-style: none;
}
a {
  color: #303A43;
}
a:hover {
  text-decoration: underline;
}
hr {
  border: none;
  border-bottom: 1px solid #cfcfcf;
  margin-bottom: 0.8em;
  height: 10px;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, 'Helvetica Neue', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  font-weight: 100;
  color: #000;
  line-height: 1.35;
}
a {
  color: #2e3740;
  text-decoration: none;
}
a:hover {
  color: #f36f20;
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}

//css document
.header {
    width: 100%;
    .header-bar {
        width: 100%;
        background-color: #F1F1F1;
        .header-bar-inner {
            width: 1024px;
            height: 60px;
            margin: 0 auto;
            line-height: 60px;
            .logo {
                float: left;
                width: 230px;
                font-size: 24px;
            }
            .user-login-status {
                float: left;
                margin-left: 530px;
                .user-pic {
                    img {
                        float: left;
                        margin-top: 10px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                    span {
                        float: left;
                        height: 60px;
                        margin-left: 20px;
                    }
                }
            }
            .user-logout {
                float: right;
                a {
                    color: #E94D25;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.nav {
    width: 100%;
    background-color: #ffffff;
    margin-top: 10px;
    ul {
        width: 1024px;
        margin: 0 auto;
        border-bottom: 1px solid #CED0D3;
        li {
            float: left;
            border-top: 1px solid #CED0D3;
            &:first-child {
                border-left: 1px solid #CED0D3;
            }
            a {
                display: block;
                float: left;
                width: 145px;
                line-height: 50px;
                text-align: center;
                border-right: 1px solid #CED0D3;
                font-size: 16px;
                transition: all .2s;
                background-color: #F1F1F1;
                &:hover {
                    background-color: #e94d25;
                    border-right: 1px solid #e94d25;
                    color: #ffffff;
                }
            }
            &.on {
                a {
                    background-color: #e94d25;
                    border-right: 1px solid #e94d25;
                    color: #ffffff;
                }
            }
        }
    }
}
.content {
    width: 1024px;
    margin: 0 auto;
    .position {
        width: 100%;
        height: 50px;
        h3 {
            line-height: 50px;
        }
    }
    .wrapper {
        background-color: #F1F1F1;
        width: 984px;
        padding: 20px;
    }
}
.wrapbox {
    box-shadow: 0 0px 2px #c6c6c6;
    margin-bottom: 20px;
    .wrap-tit {
        width: 100%;
        height: 40px;
        border-top: 4px solid #e94d25;
        line-height: 40px;
        font-size: 16px;
        box-shadow: 0 2px 2px #c6c6c6;
        position: relative;
        z-index: 2;
        i {
            margin-left: 20px;
        }
        span.more {
            float: right;
            color: #989b9e;
            margin-right: 20px;
            font-size: 12px;
            cursor: pointer;
        }
    }
    .wrap-con {
        background-color: #ffffff;
        position: relative;
        z-index: 1;
        padding-top: 20px;
    }
    // user-info
    @at-root .user-info {
        width: 317px;
        float: left;
        .wrap-con {
            text-align: center;
            height: 200px;
            .modify-user-info {
                color: #E94D25;
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    // kechengbiao
    @at-root .kechengbiao {
        width: 644px;
        float: left;
        margin-left: 20px;
        .wrap-con {
            height: 210px;
            padding-top: 10px;
            .kb-thead {
                height: 30px;
                padding-left: 60px;
                border-bottom: 1px solid #f1f1f1;
                li {
                    float: left;
                    width: 115px;
                    text-align: center;
                    font-weight: bold;
                }
            }
            .kb-tbody {
                width: 100%;
                height: 54px;
                border-top: 1px solid #f1f1f1;
                li {
                    float: left;
                    width: 100px;
                    height: 48px;
                    line-height: 24px;
                    text-align: left;
                    border-left: 1px solid #f1f1f1;
                    padding: 5px;
                    white-space: normal;
                    overflow: hidden;
                    // text-overflow: ellipsis;

                    
                    font-size: 12px;
                    &.kb-tbody-first {
                        width: 60px;
                        text-align: center;
                        border:none;
                        line-height: 42px;
                        font-weight: bold;
                    }
                }
            }
            .kb-morning {

            }
            .kb-afternoon {

            }
            .kb-night {

            }
        }
    }
    //notice
    @at-root .notice {
        width: 317px;
        float: left;
        .wrap-con {
            height: 210px;
            padding: 10px;
            .notice-item {
                li {
                    width: 100%;
                    border-bottom: 1px solid #f1f1f1;
                    line-height: 40px;
                    a {
                        &:hover {
                            color: #e94b24;
                        }
                    }
                    span {
                        float: right;
                        color: #989b9e;
                    }
                }
            }
        }
    }
    //comment
    @at-root .user-comment {
        width: 644px;
        float: left;
        margin-left: 20px;
        .wrap-con {
            height: 210px;
            padding: 10px;
            .user-conmment-item {
                li {
                    width: 100%;
                    border-bottom: 1px solid #f1f1f1;
                    line-height: 50px;
                    a {
                        
                    }
                    button {
                        float: right;
                        margin-top: 10px;
                        background: none;
                        border: 1px solid #2e3740;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 0 10px;
                    }
                    &:hover {
                        a {
                            color: #e94b24;
                        }
                        button {
                            background-color: #e94b24;
                            border: 1px solid #e94b24;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    //line-test
    @at-root .line-test {
        width: 317px;
        float: left;
        .wrap-con {
            height: 210px;
            padding: 10px;
            .line-test-item {
                li {
                    width: 100%;
                    border-bottom: 1px solid #f1f1f1;
                    line-height: 50px;
                    a {
                        
                    }
                    button {
                        float: right;
                        margin-top: 10px;
                        background: none;
                        border: 1px solid #2e3740;
                        border-radius: 4px;
                        cursor: pointer;
                        padding: 0 10px;
                    }
                    &:hover {
                        a {
                            color: #e94b24;
                        }
                        button {
                            background-color: #e94b24;
                            border: 1px solid #e94b24;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    //line-class
    @at-root .line-class {
        width: 644px;
        float: left;
        margin-left: 20px;
        .wrap-con {
            height: 210px;
            padding: 10px;
            .line-class-item {
                li {
                    width: 50%;
                    float: left;
                    border-bottom: 1px solid #f1f1f1;
                    line-height: 40px;
                    a {
                        &:hover {
                            color: #e94b24;
                        }
                    }
                    span {
                        float: right;
                        margin-right: 40px;
                        color: #989b9e;
                    }
                }
            }
        }
    }
    //teacher-info
    @at-root .teacher-info {
        width: 100%;
        float: left;
        .wrap-con {
            height: 210px;
            .teacher-info-item {
                li {
                    float: left;
                    width: 164px;
                    height: 200px;
                    text-align: center;
                    img {
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

//list-page
.list-page {
    width: 964px;
    background-color: #ffffff;
    padding: 10px;
    .list-page-tit {
        line-height: 40px;
        border-left: 6px solid #E94D25;
        padding-left: 20px;
    }
    .list-page-con {
        border-top: 2px solid #f1f1f1;
        margin-top: 10px;
        ul {
            li {
                border-bottom: 1px solid #f1f1f1;
                line-height: 40px;
                padding-left: 20px;
                a {
                }
                span {
                    float: right;
                    margin-right: 20px;
                    color: #989b9e;
                }
            }
        }
        .list-page-fy {
            margin-top: 20px;
            text-align: center;
        }
    }
}