/* 
* @Author: Quinn
* @Date:   2015-07-15 21:33:10
* @Last Modified by:   Quinn
* @Last Modified time: 2015-07-15 22:22:53
*/
html,body {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #cecece;
}
.box {
    background-color: #fff;
    padding: 15px;
    width: 100px;
    height: 100px;
    margin: 100px auto;
    border-radius: 5px;
    display: -webkit-flex;
    display: flex;

    /*决定主轴方向*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;*/

    /*定义如何换行*/
    /*flex-wrap: nowrap;*/
    /*flex-wrap: wrap;
    flex-wrap: wrap-reverse;*/

    /*把direction和wrap合并为一个，默认为row nowrap*/
    /*flex-flow: row wrap;*/

    /*在主轴上的对齐方式*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;*/

    /*定义项目在交叉轴上如何对齐*/
    /*align-items: flex-start;*/
    /*align-items: flex-end;
    align-items: center;
    align-items: baseline;
    align-items: stretch;*/

    /*定义多根轴线的对齐方式，只有一个轴线不起作用*/
    /*align-content: flex-start;*/
    /*align-content: flex-end;
    align-content: center;
    align-content: space-between;
    align-content: space-around;
    align-content: stretch;*/

    justify-content: space-between;
}

.item {
    border-radius: 50%;
    background-color: #666;
    width: 20px;
    height: 20px;
}
.item:nth-child(2) {
    align-self: flex-end;
}