//常用变量

//color
$colorRed:#db3900;//红色
$colorBlack:#000000;//黑色
$colorGray1:#efefef;//浅灰色
$colorGray2:#898989;//深灰色

//font-size
$fz12:12px;
$fz14:14px;
$fz16:16px;
$fz18:18px;
$fz40:40px;

//line-height
$lh24:24px;
$lh30:30px;
$lh40:40px;

//mixin
//边框
@mixin border {
    border: 1px solid $colorGray1;
}
//边框带圆角
@mixin border-radius {
    border:1px solid $colorGray1;
    border-radius: 3px;
}